/* commissioner-latin-wght-normal */
@font-face {
  font-family: 'Commissioner Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/commissioner:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.schedule {
  --height: 5em;
  --width: 5em;
}

.schedule {  
  margin-top: 1em;
  display: grid;
  grid-template-columns: var(--height) repeat(var(--days), 1fr); /* first column = hours */
  grid-template-rows: var(--width) repeat(10, var(--width)); /* header + time slots */
  position: relative;
  gap: 3px;
  width: max-content; 
  min-width: 100%; 
}

.schedule .day {
  font-family: 'Commissioner Variable', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 15em;
  align-items: center;
}

.schedule .day h1 {
  font-size: 1.4em;
  margin: 0;
}

.schedule .day h2 {
  font-size: 1.2em;
  margin: 0;
}

.schedule .day small {
  opacity: 0.5;
}

.schedule .lesson {
  background-color: rgba(76,175,80,1.0);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  z-index: 1;
}

.schedule .lesson h3 {
  font-size: 1em;
  margin: 0 0 0.3em 0;
}

.schedule .lesson h4 {
  font-size: 0.9em;
  margin: 0 0 0.3em 0;
  font-weight: normal;
}


.schedule .lesson.passed {
  opacity: 0.5;
}

.schedule .lesson.ls-lection,.schedule .lesson.ls-lection_in_absentia {
  background-color: rgba(255, 229, 121, 0.9);
}

.schedule .lesson.ls-practice,.schedule .lesson.ls-practice_in_absentia {
  background-color: rgba(76,175,80,0.9);
}

.schedule .lesson.ls-exam {
  background-color: rgba(0, 208, 198, 0.9);
}

.time-lines {
  position: absolute;
  top: calc(var(--width) + 2px); 
  left: var(--height);
  right: 0;
  height: calc(var(--width) * 10);
  background-image: repeating-linear-gradient(to bottom, transparent, transparent calc(var(--height) + 2px), rgba(200,200,200,0.3) calc(var(--height) + 3px));
  pointer-events: none;
  z-index: 0;
}

.schedule .hour {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.schedule .hour span.time {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 0.9em;
  transform: translateY(-50%);
  font-weight: 100;
}