@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  src: local('Golos Text'), url(./fonts/golos-text.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: local('Inter'), url(./fonts/inter.ttf) format('truetype');
}

:root {
  --background: #06231C;
  --background-dark: #051F19;
  --foreground: #E8EEF2DF;
  --header-background: rgba(155,184,175,0.17);
  --footer-background: #333;
  --footer-foreground: var(--foreground);
  --cards-primary: var(--foreground);
  --cards-backround: rgba(155,184,175,0.15);
  --cards-backround-active: rgba(155,184,175,0.6);
  --main-btn-background: #018804;
  --main-btn-background-active: #005b02;
  --sub-menu-background: rgba(155,184,175,0.04);
  --buttons-font: 'Inter', 'Golos Text', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Disable text selection */
  -webkit-touch-callout: none; /* Disable long press context menu */ 
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight color */
  -webkit-touch-callout: none;  
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Golos Text', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 0.8em;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;  
  padding: 0.7em 1em;
  background-color: var(--header-background);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
}

header .left {
  justify-self: start;
}

header .center {
  justify-self: center;
}

header .right {
  justify-self: right;
}

header img {
  width: 2em;
  height: 2em;
}

footer {
  font-size: 0.9em;  
  background-color: var(--footer-background);
  color: var(--footer-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0.5em;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
}

footer .fa-heart {
  color: #e93232;
}

.svg-inline--fa {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

main>div>h1 {
  padding: 0.5em 0em 0em 0em;
  display: flex;
  justify-content: center;
  font-size: 1.6em;
}

.site-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}